<!-- Main Content -->
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2>Portal Post</h2>
        <% @all_articles.each do |a| %>
            <div class="post-preview">
            <a href="">
                <h2 class="post-title">
                    <%= link_to a.title, a %>
                </h2>
            </a>
                <h3 class="post-subtitle">
                    <%=  truncate(a.body) %>
                </h3>
                <p class="post-meta">Created on <%= a.created_at %></p>
                <p class="post-meta">Created by <%= a.user.username %></p>

            </div>
        <% end %>
        <hr />
        <!-- Pager -->
        <ul class="pager">
            <li class="next">
                <a href="#">Older Posts &rarr;</a>
            </li>
        </ul>
    </div>
</div>
