<footer class="footer-distributed">
	<div class="footer-left">
	<h3>THE PORTAL</h3>
	<p class="footer-links">
		<%= link_to 'Contact Us', pages_contact_path %></li>
    	<%= link_to 'About Us', pages_about_path %></li>
	</p>
	<p class="footer-company-name">The Portal 2016</p>
	<div class="footer-icons">
	<a href="#"><i class="fa fa-facebook"></i></a>
	<a href="#"><i class="fa fa-twitter"></i></a>
	<a href="#"><i class="fa fa-linkedin"></i></a>
	<a href="#"><i class="fa fa-github"></i></a>
	</div>
	</div>
</footer>
